<ul>
    <button type="button" class="collapsible artes course">Artes</button>
    <div class="questions">
<!--AULA 1 -->
        <button type="button" class="collapsible artes">AULA 1 - Artes e seus conceitos</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 2</a></li>
            </ul>
        </div>
    </div>
</ul>
<!--PRÓXIMA MATÉRIA -->
<ul class=>
    <button type="button" class="collapsible biologia course">Biologia</button>
    <div class="questions">
    <!--AULA 1 -->
        <button type="button" class="collapsible biologia">AULA 1 - Fecundação e segmentação</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
            </ul>
        </div>
    <!--AULA 2 -->
        <button type="button" class="collapsible biologia">AULA 2 - Gastrulação, neurulação e organogênese</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
            </ul>
        </div>
    <!--AULA 3 -->
        <button type="button" class="collapsible biologia">AULA 3 - Anexos embrionários</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
            </ul>
        </div>
    <!--AULA 4 -->
        <button type="button" class="collapsible biologia">AULA 4 - Tecido epitelial</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
            </ul>
        </div>
    </div>
</ul>
<!--PRÓXIMA MATÉRIA -->
<ul>
    <button type="button" class="collapsible filosofia course">Filosofia</button>
    <div class="questions">
    <!--AULA 1 -->
        <button type="button" class="collapsible filosofia">AULA 1 - Mitos, Logos e Introdução aos Pré-socráticos</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 2</a></li>
            </ul>
        </div>
<!--AULA 2 -->
        <button type="button" class="collapsible filosofia">AULA 2 - Pré-Socráticos</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 2</a></li>
            </ul>
        </div>
<!--AULA 3 -->
        <button type="button" class="collapsible filosofia">AULA 3 - Pré-Socráticos</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista ENEM</a></li>
            </ul>
        </div>
<!--AULA 4 -->
        <button type="button" class="collapsible filosofia">AULA 4 - Sócrates</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 2</a></li>
            </ul>
        </div>
<!--AULA 5 -->
        <button type="button" class="collapsible filosofia">AULA 5 - Platão</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 2</a></li>
            </ul>
        </div>
    </div>
</ul>
<!--PRÓXIMA MATÉRIA -->
<ul>
    <button type="button" class="collapsible fisica course">Física</button>
    <div class="questions">
    <!--AULA 1 -->
        <button type="button" class="collapsible fisica">AULA 1 - Cargas Elétricas</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
            </ul>
        </div>
    <!--AULA 2 -->
        <button type="button" class="collapsible fisica">AULA 2 - Eletrização</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
            </ul>
        </div>
    <!--AULA 3 -->
        <button type="button" class="collapsible fisica">AULA 3 - Força Elétrica</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
            </ul>
        </div>
    <!--AULA 4 -->
        <button type="button" class="collapsible fisica">AULA 4 - Campo Elétrico</button>
        <div class="questions">
            <ul>
                <li class="assignment"><a href="#lista.pdf" title="link-list">Lista 1</a></li>
            </ul>
        </div>
    </div>
</ul>
