footer {
    position: absolute;
    width:100vw;
    bottom:0;
    top:inherit;
}

.conteudo {
    justify-content: space-around;
}

/* Login */

.loginpage{
    display: table;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    text-align: center;
    color: var(--azul-meraki);
}

.simple-button{
    margin-bottom: 15px;
    font-size: small;
    color: var(--black);
    text-decoration: none;
}

.simple-button:hover{
    color: var(--white);
}

.login-box{
    background-color: var(--gray-light);
    border-radius: 5px;
    border-color: var(--azul-meraki);
    margin-bottom: 5px;
    width: 100%;
    height: 25px;
}

.texto-login{
    margin: 15vh;
    height: 70%;
    display: block;
    flex-direction: column;
}

.sendbutton{
    background-color: var(--white);
    border-radius: 10px;
    padding: 4px 10px;
    text-decoration: none;
    cursor: pointer;
    color: var(--azul-meraki);
    width: 80px;
    align-self: flex-start;
    font-weight: bold;
    text-align: center;
    font-size: 80%;
}

.sendbutton:hover{
    background-color: #ccc;
    color: var(--azul-meraki);
}

#homepage-button{
    margin-right: 5%;
    align-self: flex-end;
    position:relative;
    top:-1vh;
}
