/* Questionario */


.questionario{
    display: block;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    font-size: medium;
    text-align: center;
    color: var(--azul-meraki);
    font-weight: bolder;
}

 .questionario-box{
     background-color: #C4C4C4;
     border-radius: 5px;
     margin-bottom: 10px;
}

.tipo1{
    width: 50%;
    height: 30px;
}
.tipo2{
    width: 90%;
    height: 30px;
}
.tipo3{
    width: 93.333%;
    height: 30px;
}
.tipo4{
    width: 50%;
    height: 90px;
}

.idade-e-cel{
    display: flex;
    justify-content: center;
    width: 100%;
}
.idade{
    width: 20%;
    margin-right: 2%;
}
.cel{
    width: 30%;
}

.questionario .buttonpage{
    margin-bottom: 30px;
}

.texto-questionario{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
}

.subsubtitulo-questionario{
    width: 65%;
}

.questionario-opicional{
    padding:3em 0em;
    background: url(../assets/bg.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
}

h2.white-text{
    color: #ffffff;
    font-size: x-large;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 25%;
}

.perguntas-branco{
    color: #ffffff;
}

.questionario-ultimo-item{
    margin-bottom: 50px;
}

.questionario .texto-azul{
    color: var(--azul-meraki);
    font-size: x-large;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: left;
    margin-left: 25%;
}

/* Nav superior */

.nav-superior {
    flex-direction: row;
    justify-content: center;
}

#voltar-button {
    position: fixed;
    right: 50px;
    margin-bottom: 10px;
}