<div class="content-disciplina" style="border:2px solid @{color};">
    <div class="logo-disciplina">
    <span class="iconify icon-disciplina" data-inline="false" data-icon=@{iconID} style="color:@{color};"></span>
    </div>
    <div class="data-disciplina">
        <div>
            @{titulo-disciplina}
            <button type="button" onclick=@{buttonfn}>Botao</button>
        </div>
        <div style="border:2px solid @{color};width:80%;margin:1vh 0;"></div>
        <div>
            @{sublista-disciplina}
        </div>
    </div>
</div>