/*CSS para renderizar os carrrosséis*/
.slick-prev:before, .slick-next:before {
    color: var(--azul-meraki);
    }
.carrossel-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    
    
}
.carrossel{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
}
        
.carrossel-item {
    margin:1vw;
}

.carrossel-item img {
    width:100%;
    border-radius: 10px;
    border: 3px solid var(--azul-meraki);
}

.titulo-carrossel {
    font-size:1.5rem;
    width:90%;
    color:var(--azul-meraki);
    margin-top: 2vh;
}

.button-voltar {
    background-color: var(--azul-meraki);
    border:none;
    margin-top: 2vh;
    padding:5px;
    color:white;
    border-radius: 5px;
}

/*CSS pro display das disciplinas gravadas*/
.div-disciplina {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-disciplina {
    width:45%;
    height:25vh;
    border-radius: 10px;
    margin:2vh 0;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.logo-disciplina {
    margin: 0 1vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.data-disciplina {
    width:100%;
    height: 100%;

    display:flex;
    flex-direction: column;
    
    justify-content:center;
    align-items: center;
}

.icon-disciplina {
    font-size:12rem;
}

.button-disciplina {
    padding:5px 8px;
    margin:1vh 0;
    color:white;
    border:none;
    border-radius: 5px;
}

.button-disciplina:hover {
    opacity: .5;
}

.primeira-linha-disciplina {
    display: flex;
    width:70%;
    flex-direction: row;
    justify-content: center;
}

.titulo-disciplina {
    font-weight: bold;
    font-size: 1.5em;
}

.sublista-disciplina li{
    display:flex;
    flex-direction: row;
}
