/* Questionario */


.questionario{
    display: block;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    font-size: medium;
    text-align: center;
    color: var(--azul-meraki);
    font-weight: bolder;
}

 .questionario-box{
     background-color: #fff;
     border-radius: 5px;
}

.tipo1{
    width: 50%;
    height: 30px;
}
.tipo2{
    width: 90%;
    height: 30px;
}
.tipo3{
    width: 93.333%;
    height: 30px;
}
.tipo4{
    width: 50%;
    height: 90px;
}

.nome-e-sobrenome{
    margin-bottom: 1%;
}

.email{
    margin-bottom: 2%;
}

.idade{
    width: 20%;
    margin-left: 24%;
    margin-bottom: 1%;
}
.cel{
    width: 30%;
    margin-left: 24%;
    margin-bottom: 1%;
}

.questionario .buttonpage{
    margin-bottom: 30px;
}

.texto-sob-caixa{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding-left: 25%;
    text-align: left;
}

.texto-sob-caixa-2{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding-left: 4%;
    text-align: left;
}

.texto-questionario{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
}

.subsubtitulo-questionario{
    width: 65%;
}

.questionario-opcional{
    padding:3em 0em;
    background: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;

}

h2.white-text{
    color: #ffffff;
    font-size: x-large;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 25%;
}

.perguntas-branco{
    color: #ffffff;
    margin: 1%;
    
}

.perguntas{
    margin: 1%;
}

.questionario-ultimo-item{
    margin-bottom: 50px;
}

.questionario .texto-azul{
    color: var(--azul-meraki);
    font-size: x-large;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: left;
    margin-left: 25%;
}

/* Nav superior */


#voltar-button {
    position: fixed;
    right: 50px;
    margin-bottom: 10px;
}