/*Side nav*/
img {
    width: 100%;
    height:auto;
}

.side-nav {
    width:17vw;
    height:100vh;
    background-color: var(--white);
}

.side-nav-selected {
    background-color: var(--gray-light);
    font-weight: bold;
    color: var(--azul-meraki);
}
.side-nav-selected:visited {
    
    color: var(--azul-meraki);
}

.side-nav ul li a{
    padding:1vh;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 150%;
    font-weight:100;
}

.side-nav ul li:hover {
    cursor: pointer;
    color:var(--azul-meraki);
}



.horizontal-space {
    width: 100%;
    height:1vh;
    background-color:var(--black)
}

.iconify{
    font-size:130%;
}

@media only screen and (max-width: 768px) {
    
    .side-nav img {
        width: auto;
        height:10vh;
        
    }
    .img-container{
        height:10vh;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position:fixed;
        top:0;
    }
   

    .side-nav {
        width: 100vw;
        height: 10vh;
        position:fixed;
        top:0;
      }

    .side-nav .horizontal-space {
        display:none;
    }

    .side-nav ul {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height:10vh;
        position: fixed;
        width:100vw;
        bottom:0;
        background-color: white;
       
    }

    

    .side-nav li a p {
        display:none;
    }
}