<nav class='side-nav'>
    <img src='../../assets/MERAKI_LogoHorizontal_fundotransparente.png'>
    <div class='horizontal-space'></div>
    <ul>
        <li @{inicio-selection}>
            <a href='./inicio.html'>
                <span class="iconify" data-inline="false" data-icon="ant-design:home-filled"></span>
                Inicio
            </a>
        </li>
        <li @{dados-selection}>
            <a href='./dados.html'>
                <span class="iconify" data-inline="false" data-icon="bx:bxs-data" id='data-icon'></span>
                Seus dados
            </a>
        </li>
        <li @{material-selection}>
            <a href='./material.html'>
                <span class="iconify" data-inline="false" data-icon="ant-design:folder-filled"></span>
                Material
            </a>
        </li>
        <li @{exercicios-selection}>
            <a href='./exercicios.html'>
                <span class="iconify" data-inline="false" data-icon="bx:bxs-brain"></span>
                Exercicios
            </a>
        </li>
        <li @{avisos-selection}>
            <a href='./avisos.html'>
                <span class="iconify" data-inline="false" data-icon="ant-design:warning-filled"></span>
                Avisos
            </a>
        </li>
    </ul>
</nav>
