<nav class='side-nav'>
    <div class='img-container'>
        <img src='../../assets/MERAKI_LogoHorizontal_fundotransparente.png'>
    </div>
    <div class='horizontal-space'></div>
    <ul>
        <li @{inicio-selection}>
            <a href='./inicio.html'>
                <span class="iconify" data-inline="false" data-icon="ant-design:home-filled"></span>
                <p>Inicio</p>
            </a>
        </li>
        <li @{dados-selection}>
            <a href='./dados.html'>
                <span class="iconify" data-inline="false" data-icon="bx:bxs-data" id='data-icon'></span>
                <p>Seus dados</p>
            </a>
        </li>
        <li @{material-selection}>
            <a href='./material.html'>
                <span class="iconify" data-inline="false" data-icon="ant-design:folder-filled"></span>
                <p>Material</p>
            </a>
        </li>
        <li @{exercicios-selection}>
            <a href='./exercicios.html'>
                <span class="iconify" data-inline="false" data-icon="bx:bxs-brain"></span>
                <p>Exercicios</p>
            </a>
        </li>
        <li @{avisos-selection}>
            <a href='./avisos.html'>
                <span class="iconify" data-inline="false" data-icon="ant-design:warning-filled"></span>
                <p>Avisos</p>
            </a>
        </li>
    </ul>
</nav>
